#menu{
    position: absolute;
    background-color: thistle;
    left: 0rem;
    top: 20%;
    padding: 1px;
    border-radius: 15px;
    border-width: 30px;
    border-color: aqua;
    background-color:black;
    margin: 2rem;
}
ul{
    padding: 3px;
    border-radius: 20px;
    list-style-type: none;
    margin: 5px;
    border-color: aqua;
    background-color: black;
    padding: 0px;
    width: 13rem;
}
#home{
    background-color: teal;
    color: white;
}
li a{
    padding-left: 1rem;
    text-align: left;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-emphasis: none;
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgb(1, 185, 185);
}
li a:hover {
    
    
    width: 13rem;
    font-weight: 400;
    background-color:rgb(99,99,99);
    color: white;
    transition-duration: 1s;
  }
  li a:active {
    background-color: teal;
    color: white;
  }